:root {
    --color-component-bg: #fff;
    --color-text: #000;
    --color-menu-bg: #FCF9F2;
    --color-font-color: #11361f;
}

:root {
    --width: 1080px;
}

/* リセットCSS */
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td {
    margin: 0;
    padding: 0;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

fieldset,
img {
    border: 0;
}

address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
    font-style: normal;
    font-weight: normal;
}

ol,
ul {
    list-style: none;
}

caption,
th {
    text-align: left;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 100%;
    font-weight: normal;
}

q:before,
q:after {
    content: "";
}

abbr,
acronym {
    border: 0;
    font-variant: normal;
}

sup {
    vertical-align: text-top;
}

sub {
    vertical-align: text-bottom;
}

input,
textarea,
select,
button {
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
    *font-size: 100%;
}

legend {
    color: #000;
}

main {
    display: block;
}

* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    box-sizing: border-box;
}

*::before,
*::after {
    box-sizing: border-box;
}

/* サイト設定 */
html {
    background: var(--color-menu-bg);
}

body {
    font-size: 16px;
    line-height: 1.35;
    letter-spacing: 0.08em;
    color: var(--color-text);
    font-family: 'Noto Sans JP', 'Oswald', sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    width: 100%;
    height: auto;
    vertical-align: bottom;
}

.l-container {
    width: 90%;
    max-width: var(--width);
    margin: 0 auto;
}

/* コンポーネント */
.component {
    display: inline;
    vertical-align: bottom;
    color: var(--color-font-color);
    text-align: center;
    font-size: 36px;
    line-height: 0.83;
    text-decoration: underline 1px var(--color-font-color);
}

.component__title {
    margin-top: 20px;
}

/* キービジュアル */
.kv-visual__logo-wrapper {
    position: absolute;
}

.kv-visual-bg__wrapper {
    width: 100vw;
}

/* concept */
.about {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.about__title {
    font-size: 36px;
    letter-spacing: 0.06em;
    color: var(--color-font-color);
}

.about__catch {
    font-size: 84px;
    letter-spacing: 0.06em;
    color: var(--color-font-color);
    margin-bottom: 20px;
}

.about__p {
    width: 75%;
}

.about__img {
    width: 390px;
}

.menu-list {
    display: flex;
    justify-content: space-between;
}

.menu-list-item {
    padding: 20px 20px;
}

.menu-list-item-info {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
    font-size: 26px;
}

.menu-list-item-txt {
    font-size: 12px;
}

/* BBQ */

.separate .bbg-bg {
    margin-bottom: 500px;
}

.separate .bbq-bg-img {
    width: 100%;
    height: 496px;
}

.shop {
    background: #fff;
}

.shop-info {
    display: flex;
    /* width: 90%; */
    max-width: var(--width);
    margin: 0 auto;
    padding: 30px 0;
    align-items: center;
}

.shop-info-flex-left {
    padding-right: 20px;
}

.shop-info-title {
    font-size: 24px;
    font-weight: bold;
}

.shop-info-txt {
    width: 490px;
    padding: 16px 0;
}

.pd-info {
    display: flex;
    justify-content: center;
    padding: 40px 0;
    background: var(--color-menu-bg);
}

.pd-info-flex {
    /* display: flex; */
    align-items: center;
    margin-left: 20px;
}


.pd-logo-img {
    width: 233px;
}

.sns-links {
    display: flex;
    padding-left: 340px;
    margin-top: 35px;
}

.sns-links-item {
    padding-left: 20px;
}

.footer {
    background: var(--color-font-color);
}

.footer .copyright {
    color: #fff;
    text-align: center;
    font-size: 12px;
    height: 60px;
    padding-top: 20px;
}

@media screen and (max-width: 768px) {
    .about__catch {
        font-size: 54px;
    }

    .l-container {
        margin: 0 auto;
    }

    .concept {
        /* text-align: center; */
    }

    .menu {
        width: 100%;
    }

    .menu-list {
        flex: none;
    }

    .menu-list-item-info {
    }

    .about {
        display: flex;
        flex-direction: column-reverse;
        flex-wrap: wrap;
        text-align: left;
    }

    .about__p {
        width: 90%;
    }

    .about__title {
        font-size: 30px;
    }

    .about__p {
        width: 90%;
    }


    .menu-list {
        display: flex;
        flex-direction: column;
    }

    .shop {
        display: flex;
        flex-direction: column;
    }

    .shop-info {
        display: flex;
        flex-direction: column;
    }

    .shop-info-txt {
        width: 90%;
    }


    .pd-info {
        flex-flow: wrap;
    }

    .pd-info-flex {
        display: flex;
        flex-direction: column;
        padding-bottom: 10px;
    }

    .pd-info-txt-address {
        padding-bottom: 20px;
    }

    .pd-info-txt-phone {
        padding-bottom: 20px;
    }

    .pd-info-txt-company {
        padding-bottom: 20px;
    }

    .sns-links {
        padding: 0;
    }

    .sns-links-item {
        padding: 20px;
    }

    .footer {
        width: 100%;
    }
}